body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
    column-gap: 0px;
    row-gap: 0px;
    overflow-y: hidden;
}

.container {
    display: flex;
    text-align: center;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

h1 { /* Remova a margem padrão para h1 e p */
    margin: 0;
    margin-bottom: 16px;
}

.container p {
    margin: 0; /* Remova a margem padrão do elemento p */
    margin-top: 16px;
}

.cookie {
    width: 200px;
    height: 200px;
    background-image: url('https://openseauserdata.com/files/223b76e3d730f0e5a6cf1f15ee49cf56.png');
    background-size: cover;
    cursor: pointer;
    transition: transform 0.1s;
    user-select: none;
}

.cookie:hover {
    transform: scale(1.1);
}

.cookies-count {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
}

.cookie-change {
    animation: cookieChangeAnimation 0.5s ease-in-out;
}

@keyframes cookieChangeAnimation {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.2);
    }
    50% {
        transform: scale(0.8);
    }
    75% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.store {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buy-button:disabled {
    background-color: #a5c2b5;
    cursor: default;
}

.buy-button:disabled:hover {
    background-color: #a5c2b5;
    cursor: default;
}

.buy-button {
    width: 150%;
    padding: 8px 0;
    border: none;
    background-color: #119759;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
    margin-top: 16px;
    max-width: 150%;
}

.buy-button:hover {
    background-color: #27d61a;
}